{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'petapp/page/basketpage/css/basket.css' %}">
{% endblock %}

{% block title %}Моя корзина{% endblock %}

{% block content %}
<section class="basket products">
  <h2>Моя корзина</h2>

  <!-- Вывод сообщений об ошибках в верхней части корзины -->
  {% for message in messages %}
      <div class="alert alert-danger">{{ message }}</div>
  {% endfor %}

  {% if basket_items %}
  <div class="p__wrapper">
    {% for item in basket_items %}
    <div class="p__item">
      <img src="{{ MEDIA_URL }}{{ item.product.photo_product.url }}" alt="product" class="title">
      <div class="item__description">
        <h4 class="item__price">{{ item.product.price }} ₽</h4>
        <p class="item__name"><span>{{ item.product.product_name }}</span> / {{ item.product.category }} для 
          {% for animal_type in item.product.animal_type.all %}
              {{ animal_type.name }} 
          {% endfor %}
          {{ item.product.weight }} kg</p>
          <div class="item__quantity">
            <p class="item__name">Количество: {{ item.quantity }}</p>
            <div class="quantity-buttons">
                <a id="btn" href="{% url 'subtraction_basket' product=item.pk basket=basket.pk %}" class="btn btn-white border-secondary bg-white btn-md mb-2">-<i class="fas fa-sync"></i></a>
                <a href="{% url 'addition_basket' product=item.pk basket=basket.pk %}" id="btn" class="btn btn-white border-secondary bg-secondary btn-md mb-2">+<i class="fas fa-trash"></i></a>
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="basket-summary">
    <hr class="divider">
    <div>
      <span class="total-label">Итого: {{ basket.get_total_sum }} ₽</span>
      {% if not messages %}
        <a href="{% url 'create_payment' basket.id %}" class="order-button">Оформить заказ</a>
      {% else %}
        <a class="order-button" disabled>Товар(ы) отсутствуют</a>
      {% endif %}

    </div>
  </div>
  {% else %}
    <h3 class="empty-text">Ваша корзина пуста</h3>
  {% endif %}
</section>

<script src="{% static 'petapp/page/basketpage/js/basket.js' %}" type="module"></script>
{% endblock %}
